<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1 style = "font-size: x-large; text-align: center; color: blueviolet;">homepage test</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi itaque atque placeat quo sint ipsum, assumenda ullam, mollitia repudiandae facilis, eaque nulla quasi? Ad labore sunt accusamus, architecto explicabo odio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus est quasi molestiae cum exercitationem voluptatem deserunt sint quam, corrupti illo saepe, impedit minus aliquam recusandae! Quidem aut officiis voluptatibus mollitia.</p>
    </body>
</html>